.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.rightBanner {
  border: 3px solid black;
  width: 40vw;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 500ms;
}
.rightBanner:hover {
  transform: scale(1.1);
}

.bannerImg {
  max-width: 40vw;
  max-height: 100%;
  object-fit: cover;
  transition: 500ms;
}
.leftBanner {
  border: 3px solid black;
  width: 40vw;
  height: 99vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textBanner {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  color: black;
}

@media (max-width: 1000px) {
  .rightBanner {
    width: 49.5vw;
    height: 80vh;
  }
  .leftBanner {
    width: 49.5vw;
    height: 80vh;
  }
  .bannerImg {
    max-width: 49.5vw;
  }
} ;
