.shopItem {
  max-width: 40vw;
  max-height: 70vh;
  border: 3px solid black;
  transition: 500ms;
}

.shopItem:hover {
  transform: scale(1.05);
}
.itemImageContainer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden;
}
.itemImage {
  max-height: 70vh;
  object-fit: cover;
  transition: 500ms;
}
.itemName {
  position: absolute;
  z-index: 2;
}
@media (max-width: 1000px) {
  .shopItem {
    max-width: 49.5vw;
    max-height: 40vh;
  }
  .itemImage {
    max-height: 40vh;
  }
}
